@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

@import "header.scss";
@import "footer.scss";
@import "login.scss";
@import "home.scss";
@import "admin.scss";
@import "cart.scss";
@import "profile.scss";
@import "order.scss";
// @import "dashboard.scss";

// body {
//     font-family: "Open Sans", sans-serif;
//     color: #0c0c0c;
//     background-color: #ffffff;
//     overflow-x: hidden;
// }

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto+Serif+SC', sans-serif;
    background: #eee;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.w-33 {
    width: 33.333333333%;
}

// h1 {
//     font-family: 'Nunito', sans-serif;
// }