@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');

@import "header.scss";
@import "footer.scss";
@import "login.scss";
@import "home.scss";


body
{
    margin: 0;
    padding: 0;
    font-family: 'Noto+Serif+SC',sans-serif;
    // background: #262626;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    box-sizing: border-box;
}

.w-33{
    width: 33.333333333%;
}