header {
    position: relative;
    // max-width: 1200px;
    width: 100%;
    // margin: 16px;
    padding: 10px;
    background: #FFF;
    // border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.logo {
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    padding: 0 20px;
    color: #198754;
    font-weight: 700;
    text-decoration: none;
}

.logo:hover {
    color: #044527;
}

.menu {
    float: right;
}

.clear {
    clear: both;
}

.menu .nav-elements {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu .nav-elements li {
    list-style: none;
}

.menu .nav-elements li a {
    display: block;
    // margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

.menu .nav-elements li a.active,
.menu .nav-elements li a:hover {
    background: #198754;
    color: #fff;
    transition: 0.5s;
}

// @media (max-width: 1200px)
// {
//     header
//     {
//         margin: 16px;
//     }
// }
@media (max-width: 768px) {
    .logo {
        font-size: 26px;
    }

    .mean-toggle {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #198754;
    }

    .mean-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .mean-toggle.active:before {
        content: '\f00d';
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
        width: 100%;
    }

    .menu.active .nav-elements {
        display: block;
    }

    .menu.active .nav-elements li {
        margin: 0;
        text-align: center;
    }

    .header-cart {
        margin-top: 0.25rem;
    }
}

.header-cart {
    padding: 9px 20px;
    text-decoration: none;
}

.header-font {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Dancing Script', cursive;
}