@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap");
header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.logo {
  float: left;
  text-align: center;
  line-height: 60px;
  font-size: 36px;
  padding: 0 20px;
  color: #069370;
  font-weight: 700;
  text-decoration: none; }

.menu {
  float: right; }

.clear {
  clear: both; }

.menu .abc {
  margin: 0;
  padding: 0;
  display: flex; }

.menu .abc li {
  list-style: none; }

.menu .abc li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626; }

.menu .abc li a.active,
.menu .abc li a:hover {
  background: #069370;
  color: #fff;
  transition: 0.5s; }

@media (max-width: 768px) {
  .mean-toggle {
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370; }
  .mean-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px; }
  .mean-toggle.active:before {
    content: '\f00d'; }
  .menu {
    display: none; }
  .menu.active {
    display: block;
    width: 100%; }
  .menu.active .abc {
    display: block; }
  .menu.active .abc li {
    margin: 0;
    text-align: center; } }

.footer-dark {
  padding: 2rem 0;
  color: #f0f9ff;
  background-color: #282d32; }

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer-dark ul a:hover {
  opacity: 0.8; }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }

.footer-dark .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer-dark .item.social {
  text-align: center; }

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px; } }

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75; }

.footer-dark .item.social > a:hover {
  opacity: 0.9; }

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

.container {
  margin: 50px auto; }

.panel-heading {
  text-align: center;
  margin-bottom: 10px; }

#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none; }

.login-link {
  text-decoration: none; }

.login-link:hover {
  text-decoration: none; }

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer; }

.btn.btn-success {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px; }

.panel {
  min-height: 380px;
  box-shadow: 20px 20px 80px #dadada;
  border-radius: 12px; }

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff; }

.validation-container input[type='email'],
.validation-container input[type='password'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%; }

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none; }

.validation-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative; }

.validation-container a[target='_blank'] {
  position: relative;
  transition: all 0.1s ease-in-out; }

.bordert {
  border-top: 1px solid #aaa;
  position: relative; }

.validation-container input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important; }

.hide-md-lg {
  display: block;
  text-align: center; }

@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px; }
  body {
    height: 100%; }
  .container {
    margin: 30px 0; }
  .bordert:after {
    left: 25%; } }

@media (max-width: 360px) {
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center; } }

.home-container h1,
.home-container h2,
.home-container h3,
.home-container h4,
.home-container h5,
.home-container h6,
.home-container a,
.home-container ul,
.home-container li,
.home-container span,
.home-container b,
.home-container strong {
  font-family: 'Canela Deck Web'; }

.section-top {
  background-image: linear-gradient(180deg, rgba(224, 224, 224, 0.3), #f3f4f4);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.wrapper-top {
  background-image: url("https://blog.billyoh.com/wp-content/uploads/2016/04/shutterstock_234027424-1.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.top-text {
  z-index: 2;
  width: 60vw; }

.wrapper-second hr {
  background-color: black;
  border: 3px solid black;
  opacity: 1; }

.wrapper-four hr {
  background-color: white;
  border: 3px solid white;
  opacity: 1; }

.home-container .wrapper-four .wrapper-four-img {
  width: 43vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 0;
  position: static;
  margin-top: 90px; }

.home-container .wrapper-four .wrapper-four-right {
  margin-top: 150px;
  padding: 0 50px; }

.wrap-four-items {
  margin-top: 90px;
  position: relative;
  margin-bottom: 160px; }

.wrap-four-overlay {
  width: 25vw;
  height: 70vh;
  background: linear-gradient(0deg, black 0, transparent);
  z-index: 1;
  position: absolute;
  opacity: 1; }

.wrap-four-img {
  width: 25vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 0; }

.wrap-four-text {
  position: absolute;
  bottom: 20px;
  z-index: 2; }

.wrap-four-text h5 {
  display: none; }

.wrap-four-items:hover .wrap-four-text h5 {
  display: block; }

.wrap-four-items:hover .wrap-four-text h3 {
  text-underline-offset: 5px;
  text-decoration: underline; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto+Serif+SC',sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box; }

.w-33 {
  width: 33.333333333%; }
