.container {
  margin: 50px auto; }

.panel-heading {
  text-align: center;
  margin-bottom: 10px; }

#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none; }

.login-link {
  text-decoration: none; }

.login-link:hover {
  text-decoration: none; }

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer; }

.btn.btn-success {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px; }

.panel {
  min-height: 380px;
  box-shadow: 20px 20px 80px #dadada;
  border-radius: 12px; }

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff; }

.validation-container input[type='email'],
.validation-container input[type='password'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%; }

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none; }

.validation-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative; }

.validation-container a[target='_blank'] {
  position: relative;
  transition: all 0.1s ease-in-out; }

.bordert {
  border-top: 1px solid #aaa;
  position: relative; }

.validation-container input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important; }

.hide-md-lg {
  display: block;
  text-align: center; }

@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px; }
  body {
    height: 100%; }
  .container {
    margin: 30px 0; }
  .bordert:after {
    left: 25%; } }

@media (max-width: 360px) {
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center; } }
