.filter-group .card-header {
  border-bottom: 0;
  border-radius: 0; }

.card-header {
  padding: 0.625rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(81, 88, 94, 0.12); }

.mygreen-btn {
  background: #1daf2c; }

.mygreen-btn:hover {
  background: #088715; }

.food-option {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify; }

@media (max-width: 992px) {
  .mymt-lg-3 {
    margin-top: 1rem; } }
