<header class="sticky-top">
    {{!-- <div class="container-fluid"> --}}
        <a href="/" class="logo">Woody</a>
        <div class="mean-toggle"></div>
        <nav class="navbar navbar-expand-sm  menu">
            <ul class="abc navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item mx-1"><a href="/" class="rounded">Home</a></li>
                <li class="nav-item mx-1"><a href="/admin" class="rounded">Admin</a></li>
                <li class="nav-item mx-1 dropdown">
                    <a class="nav-link rounded dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="padding: 10px 20px;">
                        <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-1"><a href="/login" class="rounded">Login</a></li>
                <li class="nav-item mx-1"><a href="/register" class="rounded">Register</a></li>
                <li class="nav-item mx-1"><a href="#" class="rounded"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="clear"></div>
        {{!--
    </div> --}}
</header>


<script type="text/javascript">
    $(document).ready(function () {
        $('.mean-toggle').click(function () {
            $('.mean-toggle').toggleClass('active')
            $('nav').toggleClass('active')
        })
    })
</script>