{{!-- <div class="home-container">
    <section class="wrapper-top">
        <div class="section-top d-flex justify-content-center align-items-center">
            <h1 class="top-text display-4 text-center">With a world-class team of carpenters, groundbreaking research
                opportunities that create diverse and distinctive products, Woody is no longer just a lumber shop.</h1>
        </div>
    </section>

    <section class="wrapper-second container row">
        <h1 class="col-6 display-4">Woody at a glance</h1>
        <div class="col-6 mt-4">
            <h5>Woody community members join nearly four centuries of carpenters, seasoned with experience and skill in
                the workplace.</h5>
            <div class="d-flex mt-4">
                <i class="fa-solid fa-circle-arrow-right fa-2x text-muted"></i>
                <h5 class="mx-2 mt-1 font-weight-bold">Learn more about our history</h5>
            </div>
        </div>
        <hr class="mt-5 mb-0">
    </section>

    <section class="wrapper-third container">
        <div class="d-flex flex-wrap">
            <div class="w-33 px-2">
                <h2 class="text-danger">2022</h2>
                <h5><b></b>the year Woody was found</b></h5>
            </div>
            <div class="w-33 px-2">
                <h2 class="text-danger">5,212</h2>
                <h5><b></b>companies around the world in 2021-2022</b></h5>
            </div>
            <div class="w-33 px-2">
                <h2 class="text-danger">$173 million</h2>
                <h5><b></b>institutional need-based grant aid provided to Woody staffs last year</b></h5>
            </div>
            <div class="w-33 px-2 mt-3">
                <h2 class="text-danger">13,616</h2>
                <h5><b></b>products sold in 2021-2022</b></h5>
            </div>
            <div class="w-33 px-2 mt-3">
                <h2 class="text-danger">16.448</h2>
                <h5><b></b>who bought wood at the store</b></h5>
            </div>
            <div class="w-33 px-2 mt-3">
                <h2 class="text-danger">400,000+</h2>
                <h5><b></b>alumni worldwide</b></h5>
            </div>
        </div>
    </section>

    <section class="wrapper-four bg-black">
        <div class="container pt-5 mb-0">
            <h1 class="display-3 text-white">BEST SELLER</h1>
            <hr>
            <div class="d-flex flex-wrap">
                <div class="w-50">
                    <img src="https://www.woodcraft.com/media/W1siZiIsIjIwMjIvMDEvMTMvMDgvMjIvNTMvODM5L1dvb2RfMi5qcGciXSxbInAiLCJvcHRpbSJdXQ/Wood_2.jpg?sha=7e390c683a961bb5"
                        class="wrapper-four-img" />
                </div>
                <div class="w-50 wrapper-four-right">
                    <h1 class="text-white">You can find the best wood when exploring Woody and have the most beautiful
                        patterns and colors!</h1>
                    <h4 class="text-white pt-3">Iron Man</h4>
                    <h5 class="text-white">Woody</h5>
                    <div class="d-flex pt-4">
                        <i class="fa-solid fa-circle-arrow-right fa-2x text-muted"></i>
                        <h5 class="mx-2 mt-1 text-white">Learn more about our history</h5>
                    </div>
                </div>
            </div>

            <div class="wrap-four d-flex justify-content-between">
                {{#each product}}
                <a href="/product/show/{{this._id}}">
                    <div class="wrap-four-items">
                        <div class="wrap-four-overlay"></div>
                        <img class="wrap-four-img" src="{{this.image}}" />
                        <div class="wrap-four-text px-4">
                            <h3 class="text-white">{{this.name}}</h3>
                            <h5 class="text-white">{{this.desc}}</h5>

                            <div class="d-flex pt-4">
                                <i class="fa-solid fa-circle-arrow-right fa-2x text-muted"></i>
                                <b class="mx-2 mt-1 text-white">Learn more about our history</b>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
                {{!-- <div class="wrap-four-items">
                    <div class="wrap-four-overlay"></div>
                    <img class="wrap-four-img"
                        src="https://www.woodcraft.com/media/W1siZiIsIjIwMjIvMDEvMTMvMDgvMjIvNTMvODM5L1dvb2RfMi5qcGciXSxbInAiLCJvcHRpbSJdXQ/Wood_2.jpg?sha=7e390c683a961bb5" />
                    <div class="wrap-four-text px-4">
                        <h3 class="text-white">Mussab Ali</h3>
                        <h5 class="text-white">Mussab Ali is the co-president of the Harvard Law School’s student body.
                        </h5>

                        <div class="d-flex pt-4">
                            <i class="fa-solid fa-circle-arrow-right fa-2x text-muted"></i>
                            <b class="mx-2 mt-1 text-white">Learn more about our history</b>
                        </div>
                    </div>
                </div>
                <div class="wrap-four-items">
                    <div class="wrap-four-overlay"></div>
                    <img class="wrap-four-img"
                        src="https://www.woodcraft.com/media/W1siZiIsIjIwMjIvMDEvMTMvMDgvMjIvNTMvODM5L1dvb2RfMi5qcGciXSxbInAiLCJvcHRpbSJdXQ/Wood_2.jpg?sha=7e390c683a961bb5" />
                    <div class="wrap-four-text px-4">
                        <h3 class="text-white">Mussab Ali</h3>
                        <h5 class="text-white">Mussab Ali is the co-president of the Harvard Law School’s student body.
                        </h5>
                        <div class="d-flex pt-4">
                            <i class="fa-solid fa-circle-arrow-right fa-2x text-muted"></i>
                            <b class="mx-2 mt-1 text-white">Learn more about our history</b>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
</div> --}}


<div class="home_container">
    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="">
        </div>

        <!-- slider section -->
        <section class="slider_section">
            <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Fast Food Ordering App
                                        </h1>
                                        <p>
                                            Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                            labore,
                                            sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                        </p>
                                        <div class="btn-box">
                                            <a href="/order" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Fast Food Restaurant
                                        </h1>
                                        <p>
                                            Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                            labore,
                                            sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                        </p>
                                        <div class="btn-box">
                                            <a href="/order" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Fast Food Restaurant
                                        </h1>
                                        <p>
                                            Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                            mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                            labore,
                                            sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                        </p>
                                        <div class="btn-box">
                                            <a href="/order" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="Slide 1"></li>
                        <li data-bs-target="#customCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></li>
                        <li data-bs-target="#customCarousel1" data-bs-slide-to="2" aria-label="Slide 3"></li>
                    </ol>
                </div>
            </div>

        </section>
        <!-- end slider section -->
    </div>

    <!-- offer section -->

    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6  ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/o1.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Tasty Thursdays
                                </h5>
                                <h6>
                                    <span>20%</span> Off
                                </h6>
                                <a href="/order">
                                    Order Now <i class="ms-1 fa-solid fa-cart-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/o2.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Pizza Days
                                </h5>
                                <h6>
                                    <span>15%</span> Off
                                </h6>
                                <a href="/order">
                                    Order Now <i class="ms-1 fa-solid fa-cart-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end offer section -->

    <!-- food section -->

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Menu
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".burger">Burger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Pasta</li>
                <li data-filter=".fries">Fries</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f1.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Pizza
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $20
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                        {{!-- <a class="text-white" href="#">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f2.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Burger
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $15
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Pizza
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $17
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f4.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Pasta
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $18
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all fries">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f5.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        French Fries
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $10
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f6.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Pizza
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $15
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f7.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Tasty Burger
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $12
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f8.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Tasty Burger
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $14
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box shadow">
                            <div>
                                <div class="img-box">
                                    <img src="images/f9.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Delicious Pasta
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $10
                                        </h6>
                                        <div class="d-flex flex-row">
                                            <a class="text-white" href="#">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <a class="text-white ms-3" href="#">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="/order">
                    View More
                </a>
            </div>
        </div>
    </section>

    <!-- end food section -->

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                We Are HappyFood
                            </h2>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered
                            alteration
                            in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                            If you
                            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                            embarrassing
                            hidden in
                            the middle of text. All
                        </p>
                        <a href="#">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->

    <!-- book section -->
    {{!-- <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Book A Table
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form action="">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" />
                            </div>
                            <div>
                                <select class="form-control nice-select wide">
                                    <option value="" disabled selected>
                                        How many persons?
                                    </option>
                                    <option value="">
                                        2
                                    </option>
                                    <option value="">
                                        3
                                    </option>
                                    <option value="">
                                        4
                                    </option>
                                    <option value="">
                                        5
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button>
                                    Book Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!-- end book section -->

    <!-- client section -->

    {{!-- <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>
                    What Says Our Customers
                </h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Moana Michell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img src="images/client1.jpg" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Mike Hamell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img src="images/client2.jpg" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}

    <!-- end client section -->
</div>


<!-- custom js -->
<script src="/src/public/js/homepage/custom.js"></script>
<!-- jQery -->
<script src="/src/public/js/homepage/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script src="/src/public/js/homepage/bootstrap.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>